.genre-header-module{
  margin-left: 50px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content:start;
}
.genre-header{
  color: aliceblue;
  font-size: 20px;
}

.genre-header h1{
  margin-bottom:2px;
  font-weight:700;
}

.genre-header-paragraph{
  color: aliceblue;
  font-size: 18px;
  flex-wrap: wrap;
  width:30%;
}

.genre-body {
  margin-left: 50px;
  color:aliceblue;
  height:500px;
}


.component-movies{
  display:flex;
}

.scroll-right-genres{
  position: static;
  float:right;
  z-index:100;
}

.scroll-right-genres{
  position: static;
  float:left;
  z-index:100;
}

.component-movies button{
  background-color: rgba(0,0,0,0);
  color: firebrick;
  font-weight:bolder;
  border:none;
}